*{margin: 0;
padding: 0;}
body{
    margin: 0;
    padding: 0;
    background-image: url(https://www.bigbearmountainresort.com/-/media/widen/big-bear-mountain-resort/scenic/winter/2016-01-07-bb-ls-scenic-jpeg-0016-jpg.ashx);
    background-repeat: no-repeat;
    background-size: cover;
}


.saxeli{
    text-align: center;
}


