body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #ff4081;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #ff4081;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #e6005c;
}

.Back{
    display: flex;
    justify-content: left;
    margin: 50px;
    width: 130px;
    height: 60px;
    font-size: 40px;
    
}

a{
    text-decoration: none;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        margin: 5px 0;
    }
}
