*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.all header{
    display: flex;
    border: 1px;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.nav-bar{
    display: flex;
    gap: 20px;
}
.logo{
    display: flex;
}
