
.link1:link {
    color: blue;
    text-decoration: none;
}


.link2:visited {
    color: violet;
    text-decoration: none;
}


.link3:hover {
    color: white;
    background-color: darkblue;
    text-decoration: underline;
}


.link3:active {
    color: yellow;
    background-color: navy;
    font-size: 1.2em;
}

.link4 {
    color: black;
    text-decoration: none;
}

.link4:hover {
    color: darkgray;
}
